html {
  scroll-behavior: smooth;
}
.popup {
  width: 1160px;
  margin: auto;
  max-width: 100%;
  max-height: 740px;
  height: 774px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: all 2s ease;
  transform: scale(1);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(20px);
  z-index: -1;
}

.popup > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: blur(10px);
  z-index: 1;
}
.hidden {
  opacity: 0;
  z-index: -1;
}

.container-popup {
  width: 100%;
  z-index: 11;
  height: 98%;
  display: flex;
  flex-direction: column;
}
.content-popup {
  width: 100%;
  height: 90%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.left-side {
  width: 201px;
  height: 491px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.551); /* Тень */
  background: #ffffff52;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}
.center {
  width: 786px;
  max-height: 600px;
  height: 600px;
  border-radius: 10px;
}

.ends {
  width: 46px;
}
.center-content {
  width: 100%;
  height: 100%;
  background: rgba(230, 240, 253, 255);
  overflow: hidden;
  display: flex;
  gap: 40px;
  flex-direction: column;
  border-radius: 10px;
}
.explore p {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.text-animation{
  animation: text 1s forwards;
  animation-delay: 1s;
}
.explore {
  width: 75%;
  display: flex;
  height: 60px;
  overflow: hidden;
  position: relative;
  padding: 0 20px;

  align-items: center;
  justify-content: space-between;
}
.explore > a:hover {
  background: #7cb9ff;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.explore > a {
  background: #4a90e2;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0 20px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  z-index: 10;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
}
.bottom-content {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 180px;
  justify-content: center;
}
.bottom-content p {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.left-side ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.logotype {
  width: 100%;
  height: 80%;
  padding: 10px;
  transition: all 0.5s ease;
  transform: scale(1.1);
}
.logotype:hover {
  transform: scale(1.2);
}
.list {
  padding: 15px 10px;
  background: rgba(0, 79, 113, 255);
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.list.active {
  background: rgba(0, 181, 226, 255);
}
.list:hover {
  background: rgba(0, 181, 226, 255);
}
.fils > a > img {
  height: 100px;
}
.fils {
  width: 100%;
  height: 72%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section1 {
  height: 100%;
  overflow: hidden;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose {
  font-size: 18px;
  width: 70%;
  font-weight: 200;
  text-align: center;
}

.roots {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}
.heders-sec1 {
  width: 100%;
  color: rgba(0, 79, 113, 255);
  font-family: gilroy, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}
.headers {
  width: 100%;
  height: 100px;
  color: rgba(0, 79, 113, 255);
  font-family: gilroy, sans-serif;
  font-weight: 100 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.dots-trip {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  margin-top: 10px;
}
.dot-trip {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 5px;
  border: 5px solid rgba(0, 79, 113, 255);
  border-radius: 50%;
  cursor: pointer;
}
.dot-trip.active {
  background: rgba(0, 79, 113, 255);
}

.container-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.slides p {
  text-align: center;
  font-family: "Noto sans";
  font-size: 28px;
  text-decoration: none;
  color: rgba(0, 79, 113, 255);
  font-weight: 700;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 88%;
  transform: translateY(-88%);
  color: rgba(0, 79, 113, 255);
  font-size: 35px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.3s;
  z-index: 4;
}

.custom-prev {
  left: 50px;
}

.custom-next {
  right: 50px;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bingemans {
  width: 100%;
  height: 64px;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}
.slides4 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: auto;
}
.cool {
  display: flex;
}
.slide1 {
  min-width: 100%;
  display: flex;
  width: 100%;
  height: auto;
  text-decoration: none;
  cursor: default;
  gap: 20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.fff {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  text-align: center;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: red;
  border: 2px solid rgba(0, 79, 113, 255);
  border-radius: 50%;
  cursor: pointer;
}

.custom-prevs,
.custom-nexts,
.custom-prevs1,
.custom-nexts1,
.custom-prevs-f,
.custom-nexts-f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 181, 225, 255);
  font-size: 35px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  z-index: 4;
}
.custom-prevs,
.custom-prevs1,
.custom-prevs-f {
  left: 25px;
}

.custom-nexts,
.custom-nexts1,
.custom-nexts-f {
  right: 25px;
}

.dots-pals {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.ends {
  width: 4%;
  height: 100%;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.ends > .but {
  font-size: 30px;
  color: #fff;
  padding-left: 5px;
}

.social {
  width: 90%;
  background-color: rgba(0, 79, 113, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  transition: all 0.5s ease-in;
}

.social > span > a {
  color: #fff;
  text-decoration: none;
  transition: all 1s ease-in;
}
.social > span > a > i:hover {
  transform: scale(1.1);
  color: #bbbbbb;
}
.social p {
  font-size: 10px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dots-partners {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.dots-family {
  display: flex;
  justify-content: center;
}
.dot.active {
  background: rgba(0, 79, 113, 255);
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 1090px) {
  body {
    transform: scale(0.9);
    transform-origin: top left;
    width: 150%;
  }
}
@media (max-width: 790px) {
  body {
    transform: scale(0.7);
    transform-origin: top left;
    width: 150%;
    margin: auto;
  }
}

@media (max-width: 660px) {
  body {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%;
  }
}
@media (max-width: 500px) {
  body {
    transform: scale(0.4);
    transform-origin: top left;
    width: 280%;
  }
}
@media (max-width: 320px) {
  body {
    transform: scale(0.3);
    transform-origin: top left;
    width: 340%;
  }
}
@media (max-width: 350px) {
  body {
    transform: scale(0.3);
    transform-origin: top left;
    width: 330%;
  }
}
@media (max-width: 290px) {
  body {
    transform: scale(0.2);
    transform-origin: top left;
    width: 500%;
  }
}
@media (max-width: 250px) {
  body {
    transform: scale(0.15);
    transform-origin: top left;
    width: 670%;
  }
}
