html {
  scroll-behavior: smooth;
}
.popup {
  width: 1160px;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 774px;
  height: 774px;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  padding: 51px 1px;
  right: 0;
  left: 0;
  transition: all 2s ease;
  filter: blur();
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  opacity: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg > img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
.popup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}

.container-popup {
  width: 100%;
  z-index: 11;
  height: 100%;
  display: flex;
  gap: 10px;
  padding: 5px;
  justify-content: center;
  flex-direction: column;
}
.content-popup {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.left-side {
  width: 201px;
  height: 491px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.551); /* Тень */
  background: #ffffff52;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}
.center {
  width: 786px;
  max-height: 600px;
  height: 600px;
  border-radius: 10px;
}

.ends {
  width: 46px;
}
.center-content {
  width: 100%;
  height: 100%;
  background: rgba(230, 240, 253, 255);
  overflow: hidden;
  display: flex;
  gap: 40px;
  flex-direction: column;
  border-radius: 10px;
}
.explore p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore {
  width: 75%;
  display: flex;

  padding: 0 20px;
  justify-content: space-between;
}
.bottom-content {
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  padding-left: 180px;
  justify-content: center;
}
.bottom-content p {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.bottom-content a {
  background: #4a90e2;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 13px 20px;
  text-decoration: none;
  border: none;
  font-size: 16px;
  z-index: 10;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
}
.bottom-content a:hover {
  background: #7cb9ff;
}
.left-side ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.logotype {
  width: 100%;
  height: 80%;
  padding: 10px;
}
.list {
  padding: 15px 10px;
  background: rgba(0, 79, 113, 255);
  color: #fff;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
.list.active {
  background: rgba(0, 181, 226, 255);
}
.list:hover {
  background: rgba(0, 181, 226, 255);
}
.fils > a > img {
  height: 100px;
}
.fils {
  width: 100%;
  height: 72%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section1 {
  height: 100%;
  overflow: hidden;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose {
  font-size: 16px;
  width: 50%;
  text-align: center;
}

.roots {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 15px;
}
.heders-sec1 {
  width: 100%;
  color: rgba(0, 79, 113, 255);
  font-family: "Noto Sans";
  font-weight: 100 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.headers {
  width: 100%;
  height: 100px;
  color: rgba(0, 79, 113, 255);
  font-family: "Noto Sans";
  font-weight: 100 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heders-sec1 h1 {
  font-size: 28px;
}
.dots-trip {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  margin-top: 10px;
}
.dot-trip {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border: 2px solid rgba(0, 79, 113, 255);
  border-radius: 50%;
  cursor: pointer;
}
.dot-trip.active {
  background: rgba(0, 79, 113, 255);
}

.container-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.slides p {
  text-align: center;
  font-family: "Noto sans";
  font-size: 28px;
  text-decoration: none;
  color: rgba(0, 79, 113, 255);
  font-weight: 700;
}
.custom-prev,
.custom-next {
  position: absolute;
  top: 92%;
  transform: translateY(-92%);
  color: rgba(0, 79, 113, 255);
  font-size: 35px;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transition: 0.3s;
  z-index: 4;
}

.custom-prev {
  left: 50px;
}

.custom-next {
  right: 50px;
}

.custom-prev:hover,
.custom-next:hover,
.custom-nexts:hover,
.custom-prevs:hover,
.custom-nexts1:hover,
.custom-prevs1:hover,
.custom-nexts-f:hover,
.custom-prevs-f:hover {
  background-color: rgba(0, 0, 0, 0.097);
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bingemans {
  width: 100%;
  height: 69px;
  text-align: center;
  font-size: 15px;
}
.slides4 {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: auto;
}
.cool {
  display: flex;
}
.slide1 {
  min-width: 100%;
  display: flex;
  width: 100%;
  height: auto;
  text-decoration: none;
  cursor: default;
  gap: 20px;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.transla {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.transla > img {
  width: 100%;
  height: 330px;
  object-fit: fill;
  transition: 0.8s ease-in;
}
.transla > img:hover {
  transform: scale(1.04);
}

.fff {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  text-align: center;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px;
  background-color: red;
  border: 2px solid rgba(0, 79, 113, 255);
  border-radius: 50%;
  cursor: pointer;
}

.custom-prevs,
.custom-nexts,
.custom-prevs1,
.custom-nexts1,
.custom-prevs-f,
.custom-nexts-f {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 181, 225, 255);
  font-size: 35px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  z-index: 4;
}
.custom-prevs,
.custom-prevs1,
.custom-prevs-f {
  left: 10px;
}

.custom-nexts,
.custom-nexts1,
.custom-nexts-f {
  right: 10px;
}

.dots-pals {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.ends {
  width: 4%;
  height: 100%;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.ends > .but {
  font-size: 35px;
  color: #fff;
}

.social {
  width: 90%;
  background-color: rgba(0, 79, 113, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px 10px;
  transition: all 0.5s ease-in;
}

.social > span > a {
  color: #fff;
  text-decoration: none;
  transition: all 1s ease-in;
}
.social > span > a > i:hover {
  transform: scale(1.3);
  color: #bbbbbb;
}
.social p {
  font-size: 10px;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.dots-partners {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dots-family {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dot.active {
  background: rgba(0, 79, 113, 255);
}

@media (max-width: 790px) {
  body {
    transform: scale(0.7);
    transform-origin: top left;
    width: 130%;
  }
}

@media (max-width: 320px) {
  body {
    transform: scale(0.3);
    transform-origin: top left;
    width: 340%;
  }
}
